/* ResumePreview.css */
.resume-preview {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.contact-info {
  color: #000000;
  font-size: 13px;
}

.experience-item,
.education-item {
  margin-bottom: 15px;
}

.resume-preview button {
  background-color: #ba0000;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50px;
}

.experience {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

.duration-experience {
  font-size: 14px;
  font-weight: 400;
}

.line_down {
  border-bottom: 1px solid #333;
  font-size: 20px;
  font-weight: 400;
}
